Button, input {
    padding: 5px;
}

.leitarButton {
    padding: 5px;
}

.searchInput{
    margin-right: 10px;
}

.headerForm{
    display: flex;
	align-items: center;
}

@media (max-width: 620px) {
    .headerForm{
        display: none;
    }
  }
  