.main__content {
	width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.form {
  display: flex;
	margin: 20px 0;
}

.form--container {
	margin-bottom: 20px;
	justify-content: space-between;
	align-items: baseline;
}

.form__input {
	padding: 6px;
	margin: 0 4em;
	font-size: 1em;
	border: solid 1px #aaa;
	border-radius: 2px;
	width: 16em;
}


@media (max-width: 600px) {
  .form {
    flex-direction: column;
  }
  .form__input {
    margin: 0;
  }
  .form--container {
    align-items: center;
  }
}

@media (max-width: 600px) {
  .main__content {
    padding: 0 10px;
  }
}

.border {
	margin: 20px;
}

.buttonLayout{
	display: flex;
}

.pageHolder{
	display: flex;
	align-items: center;
	margin-right: 10px;
}

.page{
	margin-bottom: 0;
}

.pageButton{
	margin: 0 10px 0 0;

}